 .u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 460px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 31px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 19px 29px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 26px;
}

.u-section-1 .u-image-1 {
  width: 541px;
  height: 360px;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 27px;
    margin-left: 24px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 486px;
  }

  .u-section-1 .u-image-1 {
    width: 461px;
    height: 404px;
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 7px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 598px;
  }

  .u-section-1 .u-image-1 {
    width: 341px;
    height: 341px;
    margin-top: 104px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 626px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-1 .u-image-1 {
    width: 497px;
    height: 330px;
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 29px 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 255px;
    margin-top: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 519px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 519px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 337px;
  height: 505px;
  margin: 0 auto 0 108px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 519px;
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-2 .u-group-elements-1 {
  width: 450px;
  min-height: 217px;
  height: auto;
  margin: 111px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  width: 450px;
  margin: 34px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 430px;
    min-height: 228px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 23px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 320px;
    min-height: 275px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -3px;
  }

  .u-section-2 .u-text-2 {
    width: 280px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 750px;
  }

  .u-section-2 .u-image-1 {
    width: 100px;
    height: 150px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 472px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 464px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 373px;
  order: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 21px 0 5px;
}

.u-section-3 .u-image-1 {
  width: 530px;
  height: 353px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 642px;
}

.u-section-3 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-3 .u-group-elements-1 {
  width: 450px;
  min-height: 202px;
  height: auto;
  margin: 185px auto 0 -494px;
}

.u-section-3 .u-text-1 {
  margin: -91px auto 0;
}

.u-section-3 .u-text-2 {
  width: 450px;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 583px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 430px;
    min-height: 228px;
    margin-top: 145px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 450px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -8px;
    margin-bottom: 10px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 5px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 229px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-group-elements-1 {
    width: 456px;
    min-height: 152px;
    margin-top: 12px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -3px;
    margin-bottom: -10px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 226px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-3 .u-group-elements-1 {
    width: 320px;
    min-height: 160px;
    margin-top: 21px;
    margin-left: auto;
    margin-bottom: -5px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 7px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 518px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: -1px;
  width: 100%;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-4 .u-container-layout-1 {
  padding: 11px 31px;
}

.u-section-4 .u-group-elements-1 {
  width: 450px;
  min-height: 429px;
  height: auto;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 518px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 476px;
  height: 461px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-4 .u-group-elements-1 {
    min-height: 469px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -1px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 514px;
  }

  .u-section-4 .u-image-1 {
    width: 446px;
    height: 402px;
    margin-top: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 5px;
    margin-bottom: 0;
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 9px 11px;
  }

  .u-section-4 .u-group-elements-1 {
    min-height: 561px;
    margin-top: 18px;
    margin-bottom: -2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-4 .u-image-1 {
    height: 324px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0 50px;
  }

  .u-section-4 .u-group-elements-1 {
    min-height: 336px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -4px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-bottom: -4px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-4 .u-image-1 {
    height: 311px;
    width: 519px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -108px;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-elements-1 {
    min-height: 445px;
    margin-top: 8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 3px;
  }

  .u-section-4 .u-text-2 {
    margin: 17px 18px 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-4 .u-image-1 {
    height: 204px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 480px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: -2px;
  margin-bottom: 2px;
  width: 100%;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 480px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 12px 0;
}

.u-section-5 .u-image-1 {
  width: 563px;
  height: 418px;
  margin: 27px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-2 {
  padding: 23px 0 0;
}

.u-section-5 .u-group-elements-1 {
  width: 455px;
  min-height: 286px;
  height: auto;
  margin: 68px auto 0;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  width: 450px;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .u-section-5 .u-image-1 {
    width: 454px;
    height: 379px;
    margin-top: 36px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 431px;
    min-height: 340px;
    margin-top: 40px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 1px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 10px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-5 .u-image-1 {
    width: 346px;
    height: 274px;
    margin-top: 97px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-5 .u-group-elements-1 {
    width: 338px;
    min-height: 413px;
    margin-top: 14px;
    margin-right: 2px;
    margin-bottom: -51px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 34px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 980px;
  }

  .u-section-5 .u-image-1 {
    width: 100px;
    height: 79px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 319px;
    min-height: 556px;
    margin-top: -199px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 410px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 580px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-6 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-6 .u-group-elements-1 {
  width: 450px;
  min-height: 482px;
  height: auto;
  margin: 45px auto 0;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  width: 450px;
  margin: 19px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 419px;
}

.u-section-6 .u-container-layout-3 {
  padding: 21px 0 5px;
}

.u-section-6 .u-image-1 {
  width: 535px;
  height: 357px;
  margin: 7px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 560px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 431px;
    min-height: 508px;
    margin-top: 0;
    margin-left: 2px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 23px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 680px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-group-elements-1 {
    width: 338px;
    min-height: 652px;
    margin: 14px 2px -51px auto;
  }

  .u-section-6 .u-text-1 {
    margin-right: 26px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 34px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 443px;
    min-height: 300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
  }

  .u-section-6 .u-text-1 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 24px;
    margin-left: 4px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 316px;
    min-height: 360px;
    margin-top: 27px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 13px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 264px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-6 .u-image-1 {
    height: 227px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 406px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-7 .u-container-layout-1 {
  padding: 17px 31px 51px;
}

.u-section-7 .u-group-elements-1 {
  width: 450px;
  min-height: 280px;
  height: auto;
  margin: 31px auto 0 17px;
}

.u-section-7 .u-text-1 {
  margin: 0 20px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 41px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 406px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 556px;
  height: 343px;
  margin: 31px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-7 .u-group-elements-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 335px;
  }

  .u-section-7 .u-image-1 {
    width: 470px;
    height: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 16px;
    padding-bottom: 30px;
    padding-left: 21px;
  }

  .u-section-7 .u-group-elements-1 {
    min-height: 414px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-7 .u-image-1 {
    height: 222px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 11px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 2px 43px;
  }

  .u-section-7 .u-group-elements-1 {
    min-height: 246px;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-7 .u-image-1 {
    height: 333px;
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-7 .u-group-elements-1 {
    margin-top: 22px;
    min-height: 293px;
    width: 320px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-7 .u-image-1 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 510px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-8 .u-container-layout-1 {
  padding: 13px 27px;
}

.u-section-8 .u-image-1 {
  width: 320px;
  height: 480px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-group-elements-1 {
  width: 502px;
  min-height: 348px;
  height: auto;
  margin: 79px 22px 0 auto;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 25px 29px 0 23px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 298px;
    height: 447px;
    margin-top: 4px;
    margin-left: 65px;
  }

  .u-section-8 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 421px;
  }

  .u-section-8 .u-group-elements-1 {
    min-height: 381px;
    width: 407px;
    margin-top: 33px;
    margin-right: 0;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-8 .u-group-elements-1 {
    width: 338px;
    min-height: 500px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 800px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-group-elements-1 {
    width: 451px;
    min-height: 346px;
    margin-top: 0;
  }

  .u-section-8 .u-text-1 {
    margin-right: 37px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 35px;
    margin-right: 0;
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-group-elements-1 {
    width: 304px;
    min-height: 351px;
    margin-top: 24px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 23px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 510px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-9 .u-container-layout-1 {
  padding: 13px 27px;
}

.u-section-9 .u-group-elements-1 {
  width: 451px;
  min-height: 321px;
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-text-1 {
  width: auto;
  margin: 0 37px 0 0;
}

.u-section-9 .u-text-2 {
  width: auto;
  margin: 35px 0 0 11px;
}

.u-section-9 .u-layout-cell-2 {
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-image-1 {
  width: 316px;
  height: 353px;
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 0 31px 0 29px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 369px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-group-elements-1 {
    width: 316px;
    min-height: 355px;
    margin-top: 38px;
    margin-bottom: -2px;
    margin-left: 6px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 1px;
    margin-right: 15px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 1px;
    margin-left: 15px;
  }

  .u-section-9 .u-image-1 {
    width: 304px;
    height: 317px;
    margin-top: 20px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 560px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 560px;
}

.u-section-10 .u-container-layout-1 {
  padding: 21px 0 5px;
}

.u-section-10 .u-group-elements-1 {
  width: 486px;
  min-height: 354px;
  height: auto;
  margin: 89px auto 0;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  width: 450px;
  margin: 3px auto 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 560px;
}

.u-section-10 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-10 .u-image-1 {
  height: 409px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-10 .u-group-elements-1 {
    width: 355px;
    min-height: 470px;
    margin-top: 23px;
    margin-left: 44px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-10 .u-image-1 {
    height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-10 .u-group-elements-1 {
    min-height: 500px;
    margin-left: 0;
  }

  .u-section-10 .u-text-1 {
    margin-top: -1px;
    margin-right: 12px;
    margin-left: 12px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 23px;
    margin-right: 15px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 540px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-group-elements-1 {
    width: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 1080px;
  }

  .u-section-10 .u-image-1 {
    height: 674px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 464px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 435px;
  order: 1;
}

.u-section-11 .u-container-layout-1 {
  padding: 21px 0 5px;
}

.u-section-11 .u-image-1 {
  height: 397px;
  margin-top: 26px;
  margin-bottom: -323px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 642px;
}

.u-section-11 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-11 .u-group-elements-1 {
  width: 450px;
  min-height: 397px;
  height: auto;
  margin: 0 auto;
}

.u-section-11 .u-text-1 {
  margin: 0 auto 0 1px;
}

.u-section-11 .u-text-2 {
  width: 450px;
  margin: 3px auto 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 600px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-11 .u-group-elements-1 {
    width: 406px;
    min-height: 420px;
    margin-top: 92px;
    margin-right: 29px;
  }

  .u-section-11 .u-text-1 {
    width: 403px;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 41px;
    margin-right: -1px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-group-elements-1 {
    width: 322px;
    min-height: 585px;
    margin-top: 5px;
    margin-right: 38px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-right: 2px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 23px;
    margin-right: 0;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-11 .u-image-1 {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 333px;
    order: 0;
  }

  .u-section-11 .u-group-elements-1 {
    width: 440px;
    min-height: 290px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 48px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 16px;
    margin-left: 14px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 29px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-11 .u-image-1 {
    height: 250px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-11 .u-group-elements-1 {
    width: 322px;
    min-height: 421px;
    margin-top: 17px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-top: 18px;
    margin-right: 16px;
    margin-left: 2px;
  }
}