.u-section-1 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-1 .u-text-1 {
  margin: 40px 374px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 323px;
  margin: 18px 570px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 55px 284px 0 0;
}

.u-section-1 .u-image-1 {
  width: 417px;
  height: 76px;
  margin: -1px auto 0 -81px;
}

.u-section-1 .u-image-2 {
  width: 362px;
  height: 60px;
  margin: -66px auto 0 326px;
}

.u-section-1 .u-image-3 {
  width: 362px;
  height: 60px;
  margin: 18px auto 0 10px;
}

.u-section-1 .u-text-3 {
  margin: 45px 536px 60px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 174px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 55px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 56px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 56px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 522px;
}