.u-section-1 .u-sheet-1 {
  min-height: 475px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0 0;
}

.u-section-1 .u-map-1 {
  width: 1084px;
  height: 314px;
  margin: 28px auto -24px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-map-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-map-1 {
    width: 340px;
  }
}